body {
	background-image: url("https://steamuserimages-a.akamaihd.net/ugc/27362480227072862/45DE1D2484549DFFD47165D8361E7AB9B49A3763/");
	background-size: cover;
	background-repeat: no-repeat;
}

.game {
	#{&}-preview {
		background-image: url("../../assets/images/spyro-idle.gif");
		background-size: contain;
		background-repeat: no-repeat;
		width: 100%;
		height: 30em;
		max-height: 30em;
	}
}